*{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}

.dabba{
  height : 65px;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rock Salt', 'Open Sans', sans-serif;
}

.logo a{
  color: goldenrod;
  font-family: 'Rock Salt';
  font-weight: 500;
  position: relative;
}

.logo img{
  height: 70px;
  margin-top: 40px;
  margin-right: 20px;
  position: relative;
}

li{
  list-style : none;
}

a{
  color : rgba(255, 255, 255, 0.9);
  font-size: 1rem;
}

.navbar a:hover{
  color : #fff;
}

.dropdown_menu a:hover{
  color : #fff;
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display : flex;
  align-items : center;
  justify-content: flex-end;
}

.navbar .links li{
  list-style: none;
  padding: 13px 45px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
  margin-right: 20px;
}


.navbar .links li:after{
  content: '';
  background: #f44566;
  width: 80%;
  height: 80%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

.navbar .links li:hover{
  color: #fff;
}

.navbar .links li:hover:after{
  top: 50%;
  opacity: 1;
}

.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: #120f0f;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: orange;
  margin-left: 65px;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 90px;
  height: 150px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 5;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu li .item:after{
  content: '';
  background: #f44566;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

.dropdown_menu li .item:hover{
  color: #fff;
}

.dropdown_menu li .item:hover:after{
  top: 50%;
  opacity: 1;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

@media (max-width: 900px){
  .navbar .links,
  .navbar .action_btn{
    display : none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }
}

@media (max-width: 500px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}